<h3>Admin Menu</h3>
<div class="card">
	<div class="list-group">
		<a href="/admin/categories" class="list-group-item list-group-item-action">Edit Categories</a>
		<a href="/admin/posts" class="list-group-item list-group-item-action">Edit Posts</a>
	</div>
</div>