<div class="list-group mt-5">
{{#each categories}}

	<a href="/category/{{slug}}">
		<button type="button" class="list-group-item list-group-item-action">{{name}}</button>
	</a>
		
	{{else}}
	<h4 class="mt-2">No categories yet!</h4>
{{/each}}
</div>